<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="ATMHome :: head">
<meta charset="UTF-8" />
<title>Balance Page</title>
</head>
<body>
	<nav th:replace="ATMHome :: nav"></nav>
	<div class="wrapper">
		<div class="parallax">
			<div class="parallax-image">
				<img src="assets/img/leafgreen.jpg" />
			</div>
		</div>
		<div class="section">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h1>Balance History</h1>
					<table class="table table-striped">
						<tr>
							<td>account number</td>
							<td>balance</td>
						</tr>
						<tr th:each="item : ${balanceList}">
							<td th:text="${item.accountNumber}"></td>
							<td th:text="${item.balance}"></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>